# Ignore Gradle project-specific files
.gradle/
build/
app/build/
app/bin/

# Ignore Jdtls project files
.project
.classpath
.settings/
app/.project
app/.classpath
app/.settings/

# System files
.DS_Store
.nix
